/*Responsive CSS*/
/*Mobile*/
div.page_line {
 width: 300px;
}

div.page_line div.column_left {
 width: 60px;
}

div.page_line div.column_right {
 width: 240px;
}

/*Tablet*/
@media only screen and (min-width: 600px) {
 div.page_line {
  width: 600px;
 }

 div.page_line div.column_left {
  width: 100px;
 }

 div.page_line div.column_right {
  width: 500px;
 }
}

/*Small Desktop*/
@media only screen and (min-width: 768px) {

 div.page_line {
  width: 768px;
 }

 div.page_line div.column_left {
  width: 120px;
 }

 div.page_line div.column_right {
  width: 648px;
 }
}

/*Normal Desktop*/
@media screen and (min-width: 960px) {
 div.page_line {
  width: 960px;
 }

 div.page_line div.column_left {
  width: 120px;
 }

 div.page_line div.column_right {
  width: 840px;
 }

}

/*Wide Screen*/
@media screen and (min-width: 1200px) {
 div.page_line {
  width: 1200px;
 }

 div.page_line div.column_left {
  width: 200px;
 }

 div.page_line div.column_right {
  width: 980px;
 }

}

/*Make the logo resonsive as well*/
div.main_heading img {
 width: 100%;
 height: auto;
}

/*General Formatting CSS*/

div.page {
 width: 100%;
}

div.column_right, div.column_left {
 vertical-align: top;
}


div.page_line {
 margin: 0 auto;
}

div.page_line > div {
 display: inline-block;
}

body {
 font-family: Arial;
 font-size: 14pt;
 font-weight: regular;
}
div.heading {

}

div.menu {

}

div.lowlight {

}


div.highlight {
 background-color: #7a3052;
 color: white;
}

div.article {
 
}

div.tag_area {
 color: #80878c;
}

div.heading {
 font-weight: bold;
 font-size: 16pt;
 font-style: italic;
}

div.page_line_holder.copyright {
 background-color: #112433;
 color: white;
}

/*The thumb buttons*/

div.counter_block,
div.counter_block div {
 height: 32px;
 vertical-align: middle;
}

div.counter_block > div {
 display: inline-block;
}
div.counter_block div.clicker {
 cursor: pointer;
 background-image: url('../images/thumbs.png');
 width: 32px;
 height: 32px
}


 
div.counter_block div.clicker.upthumb {
 background-position: -32px 0px; 
}

div.highlight div.counter_block div.clicker.upthumb {
 background-position: -32px -32px; 
}

div.highlight div.counter_block div.clicker.downthumb {
 background-position: 0px -32px; 
}

div.highlight, div.lowlight {
 padding-top: 25px;
}



/*menus and tag area layout*/

div.menu {
 text-transform: uppercase;
}

div.menu ul,
div.tag_area ul {
 list-style-type: none;
 padding: 0px;
}

div.menu li,
div.tag_area li {
 display: inline-block;
}
div.menu li {
 padding-right: 50px;
}
div.tag_area li {
 padding-right: 25px;
}

/*Headings */
div.main_heading div.column_right{
 word-spacing: 2000px;
 text-transform: uppercase;
 font-size: 72pt;
 font-weight: bold;
}


